joypy==0.2.6
pydot==1.4.2
dm-tree==0.1.8
MarkupSafe==2.1.3
umap==0.1.1
kiwisolver==1.3.1
ml-dtypes==0.2.0
sklearn==0.0
aiohttp-cors==0.7.0
PyYAML==6.0
python-utils==2.5.6
pycodestyle==2.7.0
cycler==0.10.0
Faker==14.2.1
Markdown==3.4.4
rsa==4.9
torchdiffeq==0.2.4
numpyro==0.12.1
Werkzeug==2.3.7
frozenlist==1.4.0
plotly==5.16.1
deepecho==0.4.2
smart-open==6.3.0
packaging==23.1
tensorboardX==2.6.2.2
tqdm==4.66.1
torchattacks==3.2.6
captum==0.5.0
importlib-metadata==6.8.0
sdv==1.3.0
ctgan==0.7.4
google-api-core==2.11.1
gpustat==1.1
lit==16.0.6
python-math==0.0.1
pyparsing==2.4.7
autopep8==1.5.7
py-spy==0.3.14
tfrecord==1.14.5
distlib==0.3.7
aiosignal==1.3.1
threadpoolctl==2.1.0
blessed==1.20.0
progressbar2==3.53.1
lmdb==1.5.1
crc32c==2.7.1
s3transfer==0.6.2
platformdirs==3.10.0
googleapis-common-protos==1.60.0
jaxlib==0.4.13
astunparse==1.6.3
opencv-python==4.6.0.66
sdmetrics==0.11.0
joblib==1.3.2
google-pasta==0.2.0
jmespath==1.0.1
opencensus==0.11.2
copulas==0.9.1
jax==0.4.13
pyDeprecate==0.3.2
parse==1.19.1
virtualenv==20.21.0
progressbar==2.5
ttach==0.0.3
requests-oauthlib==1.3.1
scikit-learn==1.3.0
opencensus-context==0.1.3
arrow==1.2.3
opt-einsum==3.3.0
libclang==16.0.6
graphviz==0.20.1
grad-cam==1.4.5
colorful==0.5.5
torchmetrics==0.9.3
idna==2.10
ninja==1.11.1.1
future==0.18.2
python-time==0.3.0
cmake==3.27.2
toml==0.10.2
rdt==1.6.1
tenacity==8.2.3
MulticoreTSNE==0.1
safetensors==0.4.2
ipython==8.12.2
nvidia-cublas-cu12==12.1.3.1
more-itertools==9.1.0
PyWavelets==1.3.0
mistune==2.0.5
tomli==2.0.2
termcolor==1.1.0
termcolor==1.1.0
six==1.15.0
py-cpuinfo==9.0.0
fsspec==2024.3.1
fsspec==2022.8.2
cffi==1.14.5
mpmath==1.2.1
xformers==0.0.26.post1
multimethod==1.9.1
h11==0.14.0
numpy==1.22.0
joypy==0.2.6
typing_extensions==4.8.0
wheel==0.36.2
parso==0.8.3
torchvision==0.18.0
jupyter_server_terminals==0.4.4
python-version==0.0.2
json5==0.9.25
torch-tb-profiler==0.4.0
mkl-fft==1.2.0
protobuf==3.20.3
tbats==1.1.3
fire==0.4.0
entrypoints==0.4
wordcloud==1.9.2
ptyprocess==0.7.0
webencodings==0.5.1
starlette==0.20.4
dm-tree==0.1.8
beautifulsoup4==4.12.0
email-validator==1.3.0
Mako==1.2.4
networkx==3.1
tomlkit==0.13.2
nvidia-nccl-cu12==2.20.5
basemap-data==1.3.2
defusedxml==0.7.1
umap==0.1.1
neuralforecast==1.6.4
nvidia-nccl-cu11==2.14.3
decorator==5.1.1
pyasn1==0.4.8
s3fs==0.6.0
gitdb==4.0.12
pynndescent==0.5.13
rsa==4.7
clang==5.0
gluonts==0.16.0
evaluate==0.4.2
torchtext==0.18.0
h5py==3.1.0
stack-data==0.2.0
tensorflow-io-gcs-filesystem==0.34.0
basemap==1.4.0
anndata==0.9.2
nvidia-cusolver-cu12==11.4.5.107
sqlglot==21.0.2
jupyter_server==2.5.0
Keras-Preprocessing==1.1.2
jupyter==1.1.1
alive-progress==3.1.5
notebook_shim==0.2.2
tensorflow-probability==0.18.0
scanpy==1.9.8
nvidia-nvjitlink-cu12==12.4.127
cma==3.2.2
python-dateutil==2.8.2
jupyter-console==6.6.3
multipledispatch==1.0.0
jupyter_core==5.7.2
MarkupSafe==2.1.1
xarray==2023.1.0
botocore==1.29.161
pydantic_core==2.23.4
ml-dtypes==0.0.4
referencing==0.35.1
annotated-types==0.7.0
fastjsonschema==2.16.3
antlr4-python3-runtime==4.9.3
httptools==0.5.0
yacs==0.1.8
geographiclib==2.0
keras-nightly==2.5.0.dev2021032900
QtPy==2.4.1
geomloss==0.2.6
pytorch-lightning==1.9.5
nvidia-nvtx-cu12==12.1.105
gaussian==0.1
utilsforecast==0.0.26
PySocks==1.7.1
pyzmq==25.1.2
pyzmq==25.1.1
pyzmq==25.0.2
bleach==6.0.0
PyJWT==1.7.1
msgpack==1.0.5
dinov2==0.0.1.dev0
aioitertools==0.11.0
hjson==3.1.0
lightning==2.1.0
torchaudio==2.3.0
tensorboard-data-server==0.7.2
ConfigSpace==0.5.0
ConfigSpace==0.6.1
pydantic==2.9.2
certipy==0.1.3
SQLAlchemy==2.0.20
traitlets==5.7.1
traitlets==5.9.0
Wand==0.6.7
contextlib2==21.6.0
jax==0.4.8
Pygments==2.13.0
Pygments==2.15.1
ipython-genutils==0.2.0
brotlipy==0.7.0
matplotlib-inline==0.1.6
tqdm==4.65.0
Pillow==9.0.1
Pillow==10.1.0
typer-config==1.4.0
torch-ema==0.3
websocket-client==1.4.1
matplotlib==3.7.5
chardet==3.0.4
pyarrow==15.0.0
openTSNE==1.0.1
nvidia-cusparse-cu12==12.1.0.106
grapheme==0.6.0
rpds-py==0.20.0
urllib3==1.26.3
urllib3==1.26.20
scipy==1.10.1
fugue==0.8.7
torchdiffeq==0.2.4
itsdangerous==2.1.2
slicer==0.0.7
optuna==3.5.0
notebook==7.2.2
pandas-profiling==3.6.6
soupsieve==2.4
appdirs==1.4.4
Theano==1.0.5
accelerate==0.28.0
mkl-random==1.1.1
tornado==6.3.3
tornado==6.4
tornado==6.2
async-generator==1.10
lightning-utilities==0.9.0
fugue-sql-antlr==0.2.0
statsmodels==0.14.0
pip==23.3.2
pip==23.3.1
pip==23.2.1
argon2-cffi==21.3.0
phik==0.12.3
websockets==10.3
grpcio-tools==1.45.0
jupyter-events==0.6.3
natsort==8.4.0
cmasher==1.6.3
cytoolz==0.11.0
scprep==1.2.3
keras==2.12.0
Cython==3.0.2
isoduration==20.11.0
blinker==1.4
deephyper==0.6.0
arff==0.9
pytz==2023.3.post1
cachetools==4.2.1
cachetools==4.2.4
jupyter-telemetry==0.1.0
darts==0.27.2
cryptography==3.3.1
google-auth==2.24.0
google-auth==2.25.1
google-auth==2.22.0
uri-template==1.2.0
docker-pycreds==0.4.0
Send2Trash==1.8.0
widgetsnbextension==4.0.7
async-lru==2.0.4
pyod==1.1.3
htmlmin==0.1.12
jaxtyping==0.2.19
attrs==24.2.0
packaging==23.1
tensorboardX==2.6.2.2
contourpy==1.1.1
boto3==1.26.90
torchdyn==1.0.6
fastapi==0.85.0
transmission-rpc==3.3.2
scikit-image==0.19.2
tensorflow-io==0.34.0
google-auth-oauthlib==1.0.0
llvmlite==0.41.1
umap-learn==0.5.7
multidict==4.7.6
poethepoet==0.10.0
nbformat==5.10.4
ordered-set==4.1.0
terminado==0.17.1
httpcore==1.0.2
triton==2.3.0
rfc3986-validator==0.1.1
argon2-cffi-bindings==21.2.0
babel==2.16.0
typer==0.16.0
prometheus-client==0.16.0
click==8.1.8
e13tools==0.9.6
importlib-metadata==6.8.0
importlib-metadata==6.1.0
importlib-metadata==2.0.0
httpx==0.26.0
nas-bench-201==2.1
wrapt==1.12.1
wrapt==1.14.1
greenlet==2.0.2
PyYAML==6.0
pyOpenSSL==20.0.1
yarl==1.6.3
yarl==1.5.1
dask==2022.7.0
dill==0.3.7
numexpr==2.7.3
asttokens==2.0.5
chronos==1.2.1
starsessions==1.3.0
sentry-sdk==2.21.0
pyrsistent==0.19.3
tokenizers==0.15.2
colorspacious==1.1.2
nvidia-cufft-cu12==11.0.2.54
pkgutil_resolve_name==1.3.10
typeguard==2.13.3
tensorrt-libs==8.6.1
anyio==3.6.1
tensorflow==2.12.0
ydata-profiling==4.5.1
tinycss2==1.2.1
ruamel.yaml==0.17.32
eval_type_backport==0.2.2
promise==2.3
webcolors==24.8.0
importlib-resources==5.12.0
commonmark==0.9.1
xxhash==3.4.1
geopy==2.4.1
fs==2.4.16
Werkzeug==1.0.1
flatbuffers==23.5.26
about-time==4.2.1
torchsde==0.2.6
deepspeed==0.16.9
croniter==1.3.7
oauthlib==3.1.0
texttable==1.7.0
cmake==3.25.0
tfrecord==1.14.5
ujson==5.5.0
locket==1.0.0
nvidia-cuda-cupti-cu12==12.1.105
orjson==3.8.0
omegaconf==2.3.0
pickleshare==0.7.5
uvicorn==0.18.3
python-dotenv==0.21.0
aiobotocore==2.5.2
lmdb==1.5.1
fqdn==1.5.1
colorlog==6.8.2
gast==0.4.0
fonttools==4.55.3
nats-bench==1.8
astor==0.8.1
crc32c==2.7.1
pandas==1.4.2
setuptools==52.0.0.post20210125
Deprecated==1.2.14
cloudpickle==2.2.1
statsforecast==1.7.3
tinydb==4.8.0
tensorboard==2.12.3
tensorboard==2.2.2
pastel==0.2.1
datasets==2.14.4
opt-einsum==3.1.0
pamela==1.1.0
coverage==5.4
iopath==0.1.10
imageio==2.31.4
platformdirs==3.10.0
nfoursid==1.0.1
zipp==3.4.0
nbclient==0.7.2
nvidia-cudnn-cu12==8.9.2.26
setproctitle==1.3.4
requests-oauthlib==1.3.0
mkl-service==2.3.0
deepdiff==5.8.1
nvidia-cuda-runtime-cu12==12.1.105
torchsummary==1.5.1
parse==1.19.0
astunparse==1.6.3
tensorflow-datasets==4.3.0
requests==2.32.3
ml-collections==0.1.1
opencv-python==4.6.0.66
python-multipart==0.0.5
xautodl==1.0.0
paramz==0.9.6
ray==2.7.2
multiprocess==0.70.15
text-unidecode==1.3
rich==12.5.1
ruamel.yaml.clib==0.2.7
debugpy==1.8.1
nvidia-nvtx-cu11==11.7.91
pymoo==0.6.1.2
tangled-up-in-unicode==0.2.0
google-pasta==0.2.0
jedi==0.18.1
ImageHash==4.3.1
tensorflow-metadata==1.14.0
pmdarima==2.0.4
jupyter-lsp==2.2.5
sniffio==1.3.0
python-slugify==6.1.2
jmespath==1.0.1
nvidia-cusparse-cu11==11.7.4.91
pyerfa==2.0.0.3
imagecodecs==2021.8.26
nvidia-cuda-nvrtc-cu12==12.1.105
uvloop==0.17.0
patsy==0.5.3
backcall==0.2.0
pyemd==1.0.0
grpcio==1.66.2
tensorrt-bindings==8.6.1
pandocfilters==1.5.0
psutil==5.9.1
transformers==4.35.2
async-timeout==3.0.1
stdlib-list==0.10.0
aiohttp==3.6.3
rfc3339-validator==0.1.4
jsonpointer==2.3
qpd==0.4.4
jupyterlab-widgets==3.0.8
igraph==0.11.4
huggingface-hub==0.17.3
pyasn1-modules==0.2.8
deephyper-benchmark==0.0.1
nbconvert==7.16.4
tabulate==0.9.0
dacite==1.8.1
pyDeprecate==0.3.2
charset-normalizer==3.3.2
sympy==1.11.1
prompt-toolkit==3.0.36
dnspython==2.2.1
tensorflow-estimator==2.12.0
torchcfm==1.0.5
ttach==0.0.3
visions==0.7.5
pexpect==4.8.0
xgboost==2.0.3
ipykernel==6.29.3
Jinja2==3.0.3
pure-eval==0.2.2
gdown==5.2.0
pyshp==2.3.1
python-igraph==0.11.4
partd==1.4.1
trampoline==0.1.2
session-info==1.0.0
einops==0.8.0
regex==2023.12.25
clean-fid==0.1.35
timm==0.9.0
holidays==0.42
autograd==1.7.0
ipywidgets==8.1.0
adagio==0.2.4
POT==0.9.5
arrow==1.2.3
seaborn==0.13.2
nbclassic==0.5.4
GPy==1.10.0
jupyterlab_pygments==0.3.0
openpyxl==3.0.9
libclang==16.0.0
watchfiles==0.17.0
smmap==5.0.2
nvidia-ml-py==12.575.51
numba==0.58.1
fvcore==0.1.5.post20221221
alembic==1.11.2
comm==0.1.4
lightning-bolts==0.7.0
grad-cam==1.4.5
et-xmlfile==1.1.0
nixtlats==0.1.19
jupyterlab_server==2.27.3
torchmetrics==0.9.3
idna==2.10
nest-asyncio==1.5.6
wcwidth==0.2.5
astropy==5.2.2
python-json-logger==2.0.7
Markdown==3.3.3
diffusers==0.23.1
ninja==1.11.1.1
absl-py==1.0.0
jupyterlab==4.2.5
torch==2.3.0
executing==0.8.3
shap==0.44.1
nvidia-curand-cu12==10.3.2.106
tifffile==2021.7.2
triad==0.9.5
jupyter_client==8.6.3
shellingham==1.5.4
wandb==0.19.6
tensorboard-plugin-wit==1.6.0
torchcde==0.2.5
toolz==0.12.0
GitPython==3.1.44
pyproj==3.5.0
lit==15.0.7
jsonschema==4.23.0
get-annotations==0.1.2
responses==0.18.0
kaggle==1.5.12
portalocker==2.7.0
jupyterhub==4.0.2
jsonschema-specifications==2023.12.1
filelock==3.9.0
pycparser==2.20
certifi==2023.11.17
AstroClip==0.1.dev197+g9d8506970
Bottleneck==1.3.4
torchdata==0.8.0
